{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://formbuilder.online/assets/js/form-builder.min.js'></script>
    <script src='https://formbuilder.online/assets/js/form-render.min.js'></script>
{% endblock %}

{%block contentHeader_pretitle%}<a href="{{url_for("main.forms")}}">Forms</a>{%endblock%}
{%block contentHeader_title%}Edit Form: {{form.label}}{%endblock%}

{% block content %}
  <div class="row row-cards">
    <div class="col-lg-12">
      <div id="builder"></div>
      <div id="fb-render"></div>
    </div>
  </div>

  <!-- preview form in modal -->
  <div class="modal modal-blur fade" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Preview of your form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="hr-text mt-1">Components of your form</div>
            <div id="modal-body" class="col-12">
            </div>
            <div class="hr-text">Form Details (only Label will be visible to the end user)</div>
            <div class="row">
              <div class="col-2">
                <label>
                  <span class="col form-label">Enabled</span>
                  <span class="col-auto">
                    <label class="form-check form-switch">
                      <input id="enabled" class="form-check-input cursor-pointer" type="checkbox" {%if form.enabled%}checked{%endif%}>
                    </label>
                  </span>
                </label>
              </div>
              <div class="col-5">
                <label class="form-label">Label</label>
                <input type="text" class="form-control" value="{{form.label}}" id="label" placeholder="Label of form">
              </div>
              <div class="col-5">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="description" value="{{form.description}}" placeholder="Form description">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button onclick="saveForm(this);" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
  </div>
{%endblock%}

{%block extrajs%}
  <script>
    var options = {
      disableFields: ['hidden','button'],
      controlPosition: 'left',
      onSave: function(evt, formData) {
        $('#modal-large').modal("show")
        $('#modal-body').formRender({
          formData: formData
        });
      }
    };
    var fbEditor = document.getElementById('builder');
    var formBuilder = $(fbEditor).formBuilder(options);

    formBuilder.promise.then(formBuilder => {
      formBuilder.actions.setData({{form.data|tojson}});
    });

    function saveForm(e) {
      var data = formBuilder.formData;
      let fileCount = 0;
      var parsedData = JSON.parse(data);
      for (var i = 0; i < parsedData.length; ++i) {
        if (parsedData[i].type == "file") {
          fileCount++;
        };
      };
      if (fileCount > 1) {
        notify_js("Only one(1) file input is allowed.",type="danger")
        return
      };
      $.ajax({
        type: "PUT",
        url: "/api/v1/forms/{{form.name}}",
        data: JSON.stringify({"form":data,"label":$("#label").val(),
            "description":$("#description").val(),"enabled":$("#enabled").is(":checked")}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
          notify_js("Edited form",type="warning")
          $('#modal-large').modal("hide")
        }
      });
    };
  </script>
{%endblock%}
