{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        <a href="{{url_for("main.view_user",id=user.id)}}">Users</a>
      </div>
      <h2 class="page-title">
        Password Change
      </h2>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Change Password for {{user.email}}</h3>
          </div>
          <div class="card-body">
            <form class="card card-md" method="POST" action="{{url_for("main.change_password",id=user.id)}}">
              <div class="card-body">
                <div class="mb-3">
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter new password" required>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-group">
                    <label class="form-label">Retype Password</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Retype password" required>
                  </div>
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary">
                    Set Password
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
{%endblock%}
