{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True,apex=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Dashboard
      </div>
      <h2 class="page-title">
        Dashboard
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.workflows")}}" class="btn btn-primary">
            Get Started
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Status of Workflow Executions</h3>
          </div>
          <div class="card-body">
            <div id="chartbar" class="chart-lg"></div>
          </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Workflow Triggers</h3>
          </div>
          <div class="card-body">
            <div id="chartpie" class="chart-lg"></div>
          </div>
        </div>
    </div>
  </div>
  <div class="row row-cards mt-1">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Recent Events</h3>
          </div>
          <div class="card-body">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead>
                  <tr>
                    <th class="w-1">#</th>
                    <th>Type</th>
                    <th>Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
{%endblock%}
{%block extrajs%}
<script>
$(document).ready(function() {
      //bar chart
      $.ajax({
        url: "{{url_for("api.graph_get_workflow_results")}}",
        type: "GET",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

        var options = {
          series:response["series"],
          chart: {
          type: 'bar',
          height: 300,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10
          },
        },
        xaxis: {
          categories: response["categories"],
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
        };

        var chart = new ApexCharts(document.querySelector("#chartbar"), options);
        chart.render();
        },
        error: function (request, status, error) {
          notify_js("Error occurred while gather chart data", type = "warning",time=1000)
        }
      });
      // donut chart
      $.ajax({
        url: "{{url_for("api.graph_get_workflow_triggers")}}",
        type: "GET",
        contentType: "application/json; charset=utf-8",
        success: function (response) {

        var options = {
          series: response["series"],
          chart: {
          width: 400,
          type: 'donut',
        },
        dataLabels: {
          enabled: false
        },
        labels: response["labels"],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              show: false
            }
          }
        }],
        legend: {
          position: 'right',
          offsetY: 0,
          height: 230,
        }
        };

        var chart = new ApexCharts(document.querySelector("#chartpie"), options);
        chart.render();
        },
        error: function (request, status, error) {
          notify_js("Error occurred while gather chart data", type = "warning",time=1000)
        }
      });
      // datatables
      $('#example').DataTable( {
        "ajax": "{{url_for("api.graph_get_events")}}"
      } );
} );
</script>
{%endblock%}
