{% extends "layouts/condensed.html" %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Documentation
      </div>
      <h2 class="page-title">
        Documentation
      </h2>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards mb-3">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">General Information</h3>
          </div>
          <div class="card-body">
            <pre style="white-space:pre-line"><code>
            # What are Operators?
            Operators are the "square-ish" boxes that you drop into your Workflow. You link Operators together so that the output of one Operator flows into the next one. A singular path within the larger Workflow is called a Path. You add/edit the code on the Operator to handle the event.

            # What are Links?
            Links are simply the connections between the Operators. You can also add code to the Link. For example, if the source Operator returns a value of 5, you can add logic on the Link to determine if the Path should continue or stop (e.g. stop processing if the value is less than 4)

            # What are Triggers?
            Triggers are a special kind of Operator that starts your Workflow. For example, the API Ingress Operator is a Trigger that will start the workflow when someone visits the API endpoint. There are also other Triggers such as the Sensor, which is basically a cronjob. You can not create new Triggers.

            # What are Actions?
            Actions are Operators that process the event. For example, you may have a Operator that "Sends a Email" or "Append Row to Google Sheet". Actions can be created and saved for other Workflows. You can NOT create Triggers.

            # What are Lockers?
            Lockers allow you to add Configuration values and Secrets to your Workflow. A Locker can be shared by any number of Workflows. If the Locker is not added to the Workflow, the Workflow can not access it.
            </code></pre>
          </div>
        </div>
    </div>
  </div>
  <div class="row row-cards mb-3">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tips for your Workflow</h3>
          </div>
          <div class="card-body">
            <pre style="white-space:pre-line"><code>
              # Get value from locker(s). Lockers are added to Workflows and typically hold sensitive values
              my_value = locker(kwargs["config"],"your_locker_name","your_key")

              # If trigger is a API endpoint, access the incoming request attributes
              request = kwargs["request"]

              # Get value from store. This allows you to get data between Operators and Links within your Workflow
              my_value = get_store("your_key")

              # Put value into store. This allows you to share data between Operators and Links within your Workflow
              put_store("your_key","your_value")

              # Log debug messages
              logging.info("message")
              logging.debug("message")
              logging.warning("message")
              logging.critical("message")

              # Create UI form for Operator variables
              my_var = locker(kwargs["config"],"default","my_var") ##input:type=number:name=my_var:label=Please enter a number

            </code></pre>
          </div>
        </div>
    </div>
  </div>
{%endblock%}
