{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        workflows
      </div>
      <h2 class="page-title">
        View Workflows
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.lockers")}}" class="btn">
            View Lockers
          </a>
        </span>
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.add_workflow")}}" class="btn btn-primary">
            Add Workflow
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards mb-3">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Workflows</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead>
                  <tr>
                    <th>UUID</th>
                    <th>Label</th>
                    <th>Enabled</th>
                    <th>Type</th>
                    <th>Last Run</th>
                    <th>Runs</th>
                    <th class="w-1">Endpoints</th>
                    <th class="w-1">Dashboard</th>
                    <th class="w-1">Executions</th>
                    <th class="w-1">Graph</th>
                    <th class="w-1">Access</th>
                  </tr>
                </thead>
                <tbody>
                  {%for workflow in workflows%}
                  {%set trigger = workflow.get_trigger()%}
                  {%set last_executed = workflow.last_executed()%}
                  <tr>
                    <td class="text-small h6 text-muted">{{workflow.uuid}}</td>
                    <td class="subheader">{{workflow.label}}</td>
                    <td>{%if workflow.enabled%}<span class="badge bg-green-lt">{{workflow.enabled}}</span>{%else%}<span class="badge bg-red-lt">{{workflow.enabled}}</span>{%endif%}</td>
                    <td>{%if trigger%}<span class="badge bg-yellow-lt">{{trigger.subtype}}</span>{%else%}<span class="badge bg-red-lt">Missing</span>{%endif%}</td>
                    <td>{%if last_executed == "never"%}<span class="badge bg-gray-lt">{{last_executed}}</span>{%else%}<span class="badge bg-blue-lt">{{last_executed}}</span>{%endif%}</td>
                    <td><span class="badge bg-blue-lt">{{workflow.executions.count()}}</span></td>
                    <td class="text-center">
                      <a href="#" class="btn btn-ghost-primary" data-bs-toggle="modal" data-content="{{workflow.get_access_points()}}" data-id="{{workflow.id}}" data-bs-target="#accessModal"><i class="ti ti-access-point"></i></a>
                    </td>
                    <td class="text-center">
                      <a href="{{url_for("main.view_dashboard_for_workflow",id=workflow.id)}}"><i class="ti ti-dashboard"></i></a>
                    </td>
                    <td class="text-center">
                      <a href="{{url_for("main.workflow_executions",workflow_id=workflow.id)}}"><i class="ti ti-report-analytics"></i></a>
                    </td>
                    <td class="text-center">
                      <a href="{{url_for("main.view_workflow",id=workflow.id)}}"><i class="ti ti-vector-beizer-2"></i></a>
                    </td>
                    <td class="text-center">
                      <a href="{{url_for("main.workflow_access",id=workflow.id)}}"><i class="ti ti-users"></i></a>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
<div class="modal modal-blur fade" id="accessModal" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Execution Endpoints</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
    $('#example').DataTable({"pageLength":10,"order": [[ 0, "desc" ]]});
    {%if not workflows%}
      notify_js("Create an workflow to get started!", type = "primary",time=1000)
    {%endif%}

    $('#accessModal').on('shown.bs.modal', function (e) {
      var workflowID = $(e.relatedTarget).data('id');
      $(".modal-body").html($(e.relatedTarget).data('content'))
      console.log(workflowID)
    });
  } );
</script>
{% endblock %}
