{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        <a href="{{url_for("main.workflows")}}">workflows</a>
      </div>
      <h2 class="page-title">
        Workflow Executions
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.view_workflow",id=workflow.id)}}" class="btn btn-primary">
            View Graph
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards mb-3">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{workflow.label}}</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Finished</th>
                    <th>Start</th>
                    <th>Paths</th>
                    <th>Return Value</th>
                    <th class="w-1">View</th>
                  </tr>
                </thead>
                <tbody>
                  {%for execution in executions%}
                  {%set complete = execution.complete()%}
                  <tr>
                    <td class="subheader">{{execution.id}}</td>
                    <td><span class="badge {%if complete%}bg-green-lt{%else%}bg-yellow-lt{%endif%}">{{complete}}</span></td>
                    <td class="subheader">{{execution.date_added}}</td>
                    <td><span class="badge bg-blue-lt">{{execution.paths.count()}}</span></td>
                    <td class="subheader"><div style="height: 30px !important;overflow: scroll;">{{execution.get_return_value()}}</div></td>
                    <td class="text-center">
                      <a href="{{url_for("main.view_executions_of_workflow",workflow_id=workflow.id,execution_id=execution.id)}}"><i class="ti ti-report-analytics"></i></a>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
    $('#example').DataTable({"pageLength":10,"order": [[ 0, "desc" ]]});
  } );
</script>
{% endblock %}
